body{
    background-color: #331a00;
    align-content: center;
    margin-left: 33%;
}

h1{
    font-size: 3em;
    color: lawngreen;
}

#contentBox{
    list-style-type: square;
}

p, li{
    font-style: italic;
    font-size: 1em;
    color: lawngreen;
}

p{
    margin-left: -12px;
}

li:hover{
    font-style: normal;
    font-size: 1.2em;
    color: white;
}

.button{
    border-radius: 8px;
    width: 7em;
    font-style: italic;
    background-color: lawngreen;
    color: #331a00;
}

/* CSS for the loader */
#loader {
    display: none;
}

.loadNode {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    margin: 10px 5px;
    transition: background-color .2s;
}

.loadNode:nth-of-type(1) {
    background-color: #aaa;
}

.loadNode:nth-of-type(2) {
    background-color: #777;
}

.loadNode:nth-of-type(3) {
    background-color: #333;
}